POSTGRES_DB=carddb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/carddb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me

SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
